body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 2fr;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-area {
    background: #E5F3F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  color: #6D6E71;
  font-size: 26px;
}

span {
  color: #00A79D;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.title-input,
.idea-input {
  color: #939598;
}

.title-input::placeholder,
.idea-input::placeholder {
  color: #939598;
}

.title-input,
.idea-input,
.save-btn {
    margin-bottom: 15px;
    font-size: 16px;
  }

.save-btn {
  padding: 5px;
  color: white;
  border: none;
  background-color: #00A79D;
}

.new-idea-section {
  align-items: center;
}

.new-idea-card {
  align-items: center;
}


.search-bar {
    font-size: 16px;
    margin: 15px 0;
    width: 89%;
    color: #939598;
}

.search-bar:placeholder {
  color: #939598;
}


.new-idea {
  width: 90%;
}

.idea-header {
  display: flex;
  justify-content: space-between;
}

.idea {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: #606E71;
}

.delete-btn {
  height: 22px;
  width: 22px;
  background: url('images/delete.svg');
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background: url('images/delete-hover.svg');
  background-repeat: no-repeat;
}

p {
  color: #939598;
  margin: 12px 0;
}

.upvote-btn {
  height: 22px;
  width: 22px;
  background: url('images/upvote.svg');
  background-repeat: no-repeat;
}

.upvote-btn:hover {
  background: url('images/upvote-hover.svg');
  background-repeat: no-repeat;
}

.downvote-btn {
  height: 22px;
  width: 22px;
  background: url('images/downvote.svg');
  background-repeat: no-repeat;
}

.downvote-btn:hover {
  background: url('images/downvote-hover.svg');
  background-repeat: no-repeat;
}



