* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 250px 2fr;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-area {
    background: #E5F3F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  color: #6D6E71;
  font-size: 26px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  margin: 15px;
}

span {
  color: #00A79D;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input,
textarea {
  padding: 4px;
}

.title-input,
.idea-input {
  color: #939598;
  border: 1px solid #D1D3D4;
}

.title-input::placeholder,
.idea-input::placeholder {
  color: #D1D3D4;
}

.title-input,
.idea-input,
.save-btn {
    margin-bottom: 15px;
    font-size: 16px;
  }

button {
  border: none;
}

.save-btn {
  padding: 5px;
  color: white;
  background-color: #00A79D;
}

.new-idea-section {
  align-items: center;
}

.new-idea-card {
  align-items: center;
}


.search-bar {
    font-size: 16px;
    margin: 15px 0;
    width: 89%;
    color: #939598;
    border: 1px solid #D1D3D4;
}

.search-bar::placeholder {
  color: #D1D3D4;
}


.new-idea {
  width: 90%;
  border-bottom: 2px solid #D1D3D4;
  padding-bottom: 5px;
  margin-top: 15px;
}

.idea-header {
  display: flex;
  justify-content: space-between;
}

.idea {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    color: #606E71;
}


.quality {
  display: inline;
  margin-left: 5px;
  color: #6D6E71;
}

.delete-btn {
  height: 22px;
  width: 22px;
  background: url('images/delete.svg');
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background: url('images/delete-hover.svg');
  background-repeat: no-repeat;
}

p {
  color: #939598;
  margin: 12px 0;
}

.upvote-btn {
  height: 22px;
  width: 22px;
  background: url('images/upvote.svg');
  background-repeat: no-repeat;
  margin-right: 5px;
}

.upvote-btn:hover {
  background: url('images/upvote-hover.svg');
  background-repeat: no-repeat;
}

.downvote-btn {
  height: 22px;
  width: 22px;
  background: url('images/downvote.svg');
  background-repeat: no-repeat;
  margin-right: 5px;
}

.downvote-btn:hover {
  background: url('images/downvote-hover.svg');
  background-repeat: no-repeat;
}

.quality-btn {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 500px) {
  
  form,
  .search-bar,
  .new-idea-card {
    width: 75%;
    max-width: 460px;
  }

  .new-idea {
  width: 100%;
}
}

@media screen and (min-width: 560px) {
  h1 {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 700px) {

  form,
  .search-bar,
  .new-idea-card {
    width: 60%;
  }

  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px) {
  body {
    grid-auto-rows: 225px 2fr;
  }
  form,
  .search-bar,
  .new-idea-card {
    width: 55%;
    max-width: 550px;
  }

  h1 {
    font-size: 3em;
  }

  textarea {
    height: 28px;
  }
}

